body {
  background-color: #fbfbfb;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}


.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.two-buttons {
  height: 3rem;
  width: 14rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid;
}

.btn.btn:hover {
  background-color: #e3f5fc;
  color:black;
}
.head1{
  width: 150px;
  background-color: white;
}
.head-style{
  margin-top: -6px;
  width: 582px;
  height: 92px;
  background: linear-gradient(138deg, #ffff 50%, #e3f5fc 50%);


}
